<section class="content-block" role="main">				
    <div class="row-fluid">					
        <article class="data-block">
            <div class="block-title"><h4>Parmera Vs Gambitas : </h4> Publico Pagante : 10.ooo torcedores . estadio do Parmera. </div>
            <div class="data-container">
                {?include file="foot/_campo.tpl"?}
            </div>
        </article>					
       		
    </div>
</section>
<!-- /Right side -->

</div>
<!-- /Main page container -->

<script src="{?$endereco?}resources/js/foot/main.js"></script>
{?literal?}
    <script>
        function sleep(milliseconds) {
            var start = new Date().getTime();
            for (var i = 0; i < 1e7; i++) {
                if ((new Date().getTime() - start) > milliseconds){
                    break;
                }
            }
        }

        function log() {
            try {
                console.log.apply( console, arguments );
            } catch(e) {
                try {
                    opera.postError.apply( opera, arguments );
                } catch(e){
                    alert( Array.prototype.join.call( arguments, " " ) );
                }
            }
        }
                      

        function randomFromTo(from, to){
                return Math.floor(Math.random() * (to - from + 1) + from);
         }


    function addEvent(obj, evType, fn, useCapture){
      if (obj.addEventListener){
        obj.addEventListener(evType, fn, useCapture);
        return true;
      } else if (obj.attachEvent){
        var r = obj.attachEvent("on"+evType, fn);
        return r;
      } else {
        alert("Handler could not be attached");
      }
    }

        $(document).ready(function(){
    
    
            $('#myTab a:first').tab('show');
            $('#myTab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            })
                                
        
                                     
        
    
    
            /* console.log("foi");
    $('html').css({
    'overflow-x': 'hidden'
    });

    if ($('.quiz').length) {
    $('.pergunta ul li a').click(function(e){
    quiz.clique_resposta($(this));  
    var f = "quiz.muda_questao($('.pergunta.current'))";
    setTimeout(f,3000)
    e.preventDefault();
    });
        
    setInterval(function(){
            var time = parseInt($('#countdown strong').html());
			
            if (time == 0)
                    quiz.muda_questao($('.pergunta.current'));
            else if (time > 0)
                    $('#countdown strong').html(time-1);
    }, 1000);
        
    }*/
                            
                            
                            
                            
       var partida = {
            ativo: true,
            elemento_atual:null,
            publico:null,
            local:null,
            campo : {
                elemento : Object,
                cima : 0,
                baixo : 570,
                direito : 1000,
                esquerdo : null
            },
            bola : {
                elemento : Object,
                y : null,
                x : null
            },
            casa : {
                nome:"Parmera",
                gols :2,
                jogadores : [{
                        id : 1,
                        nome : "zezinho",
                        posicao : "atacante",
                        numero : 10, 
                        x : 50,
                        y : 10 
                    },
                    {
                        id : 2,
                        nome : "robertinho",
                        posicao : "meio",
                        numero : 9,
                        x : 60,
                        y : 30   
                    },
                    {
                        id : 3,
                        nome : "Malandrinho",
                        posicao : "defesa",
                        numero : 12,
                        x : 50,
                        y : 20   
                    },
                    {
                        id : 4,
                        nome : "Malandrito",
                        posicao : "defesa",
                        numero : 07,
                        x : 50,
                        y : 20   
                    }]
            },
            visitante : {
                nome:"Gambita",
                gols :0,
                jogadores : [{
                        id : 31,
                        nome : "Marcelinho",
                        posicao : "atacante",
                        numero : 10,
                        x : 50,
                        y : 10 
                    },
                    {
                        id : 41,
                        nome : "Biro Biro",
                        posicao : "meio",
                        numero : 9,
                        x : 50,
                        y : 10 
                    }]
            },
            init : function() {
                    // set local object vars here
                    this.bola.elemento = $("#ball");
                    $('#ball').animate({
                    // opacity: 0.25,
                    left:480,
                    top :275
                }, 1000);
                    this.campo.elemento = $("#campo");
                
                    for (var i in this.casa.jogadores){
                            $("#campo_casa").append('<div id="casa_'+this.casa.jogadores[i].numero+'" class="casa '+this.casa.jogadores[i].numero+' '+this.casa.jogadores[i].posicao+'"><img src="{?/literal?}{?$endereco?}{?literal?}resources/images/foot/Palmeiras-icon.png">'+this.casa.jogadores[i].numero+'</div>',                        $("#casa_"+this.casa.jogadores[i].numero).animate({
                                // opacity: 0.25,
                                left:'+='+this.casa.jogadores[i].x,
                                top :'+='+this.casa.jogadores[i].y
                            }, 1000));
                        }
                    
                    
                     for (var i in this.visitante.jogadores){
                            $("#campo_visitante").append('<div id="visitante_'+this.visitante.jogadores[i].numero+'" class="casa '+this.visitante.jogadores[i].numero+' '+this.visitante.jogadores[i].posicao+'"><img src="{?/literal?}{?$endereco?}{?literal?}resources/images/foot/Palmeiras-icon.png">'+this.visitante.jogadores[i].numero+'</div>');
                            $("#visitante_"+this.visitante.jogadores[i].numero).animate({
                                // opacity: 0.25,
                                left:'+='+this.visitante.jogadores[i].x,
                                top :'+='+this.visitante.jogadores[i].y
                            }, 1000);
                        }    
                
                    this.kickoff();

        $('#casa_20').animate({
                    // opacity: 0.25,
                    left:250,
                    top :200
                }, 1000);
 
            },
             kickoff: function() {
                    // run bulk of behavior here
                    $("#conteudo_narracao").append("Inicia a partida aqui no estadio do "+this.casa.nome);
                    this.posicao_bola();
            },
            posicao_bola: function(){
                 var position = this.bola.elemento.position();
                 this.bola.y = position.left;
                 this.bola.x = position.top;  
                 $("#conteudo_narracao").append( "left: " + position.left + ", top: " + position.top );
            }
        }
    
    
        function initializer() {
                partida.init();
                log("move defesa");
                $('.defesa').animate({
                        left: 300
                    }, {
                        duration: 1000,
                        step: function( now, fx ){
                            $( ".defesa:gt(0)" ).css( "left", now );
                    }
               });
                // other init() methods go here
        }



            function passe(){
                var altura = randomFromTo(-80,80);
                var distancia = randomFromTo(-80,80);
                $('#ball').animate({
                    // opacity: 0.25,
                    left: '+='+distancia,
                    top :'+='+altura
                }, 1000, function() {
                    // Animation complete.
                    //alert("complete");
                    passe();
                    partida.posicao_bola();
                    if(partida.bola.x < partida.campo.cima || partida.bola.x > partida.campo.baixo){
                        $("#conteudo_narracao").append("<br>lateral"); 
                    
                         $('#ball').animate({
                            // opacity: 0.25,
                            top :0
                        }, 1000);
                        sleep(2000);
                        var altura_fora = randomFromTo(0,80);
                        var distancia_fora = randomFromTo(0,80);
                         $('#ball').animate({
                            left: '+='+distancia_fora,
                            top :'+='+altura_fora
                        }, 1000);
                    }else if(partida.bola.y > partida.campo.direito || partida.bola.y < partida.campo.esquerdo){
                        $("#conteudo_narracao").append("<br>fora"); 
                    
                        $('#ball').animate({
                            // opacity: 0.25,
                            left :0
                        }, 1000);
                        sleep(2000);
                         $('#ball').animate({
                            left: '+='+distancia_fora,
                            top :'+='+altura_fora
                        }, 1000);
                    }
                });
            }     
                                
            $('#clickme').live('click', function() {
                passe();
                 $('#casa_20').animate({      
                            left: '+='+100,
                            top :'+='+100
                        }, 1000);
            });


    addEvent(window,'load',initializer);                   
                            
                            
                            
                            
                            
                            
        });

                        
                        
    </script>
{?/literal?}
<div class="modal hide" id="myModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Modal header</h3>
    </div>
    <div class="modal-body">
        <p>One fine body…</p>
    </div>
    <div class="modal-footer">
        <a href="http://wbpreview.com/previews/WB0JJX0KG/tables.html#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
        <a href="http://wbpreview.com/previews/WB0JJX0KG/tables.html#" class="btn btn-primary">Save changes</a>
    </div>